<ul>
  <li *ngFor="let doctor of sortedDoctors$ | async" [ngClass]="{ 'selected': doctor.isWaypoint === true }">
    <i class="info pi pi-info-circle" (click)="showInfoDialog(doctor)"></i>
    {{ doctor.title }} {{ doctor.lastname }}, {{ doctor.firstname }}
    <i
      *ngIf="doctor.isWaypoint === false" class="toggle pi pi-plus-circle" (click)="toggleWaypoint(doctor)"></i>
    <i *ngIf="doctor.isWaypoint === true" class="toggle pi pi-minus-circle" (click)="toggleWaypoint(doctor)"></i>
  </li>
</ul>

<p-dialog
  [style]="{ width: '80%', maxWidth: '240px' }"
  position="center"
  [visible]="dialogDisplay$ | async"
  (visibleChange)="hideInfoDialog($event)"
  appendTo="body"
  [modal]="true"
  [closable]="false"
  [dismissableMask]="true"
>
  <div class="p-grid">
    <div class="p-col p-col-2">
      <i class="pi pi-home"></i>
      <br />
      <br />
      <br />
      <i class="pi pi-phone"></i>
    </div>
    <div class="p-col">
      {{ dialogStreet }}
      <br />
      {{ dialogPostalCodeCity }}
      <br />
      <br />
      <a [style]="{ textDecoration: 'none'}" href="tel:{{ dialogPhone }}">{{ dialogPhone }}</a>
    </div>
  </div>
  <ng-template pTemplate="header">
    <strong>{{ dialogTitle }}</strong>
  </ng-template>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="dialogDisplay$.next(false)" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
