<ul>
  <li *ngFor="let doctor of sortedDoctors$ | async" [ngClass]="{ 'selected': doctor.isWaypoint === true }">
    <i class="info pi pi-info-circle" (click)="showInfoDialog(doctor)"></i>
    {{ doctor.title }} {{ doctor.lastname }}, {{ doctor.firstname }}
    <i
      *ngIf="doctor.isWaypoint === false" class="toggle pi pi-plus-circle" (click)="toggleWaypoint(doctor)"></i>
    <i *ngIf="doctor.isWaypoint === true" class="toggle pi pi-minus-circle" (click)="toggleWaypoint(doctor)"></i>
  </li>
</ul>
<app-doctor-info-modal [selectedDoctor$]="selectedDoctor$"></app-doctor-info-modal>
