<p-toolbar>
  <div class="p-toolbar-group-left">
    <p-button label="Menü" icon="pi pi-bars" (onClick)="uiToggleMenu()"></p-button>
  </div>

  <div class="p-toolbar-group-right">
    <p-button icon="pi pi-question" (onClick)="showTermsPrivacyModal()"></p-button>
  </div>
</p-toolbar>
<p-sidebar [visible]="menuOpen$ | async" (onHide)="uiToggleMenu()">
  <h3>ÄrztInnen</h3>
  <app-doctors-list></app-doctors-list>
</p-sidebar>
<div class="p-grid container">
    <app-map></app-map>
</div>
<app-terms-privacy-modal [display$]="displayTermsPrivacyModal$"></app-terms-privacy-modal>
