 <p-dialog
    [style]="{ width: '80%', maxWidth: '240px' }"
    position="center"
    [visible]="display$ | async"
    (visibleChange)="closeDialog()"
    appendTo="body"
    [modal]="true"
    [closable]="false"
  >
    <div class="p-grid">
Yolo
    </div>
    <ng-template pTemplate="header">
      <strong>Impressum & Datenschutz</strong>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="closeDialog()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
 </p-dialog>
