 <p-dialog
    [style]="{ width: '90%', maxWidth: '320px' }"
    position="center"
    [visible]="display$ | async"
    (visibleChange)="closeDialog()"
    appendTo="body"
    [modal]="true"
    [closable]="false"
    styleClass="terms-privacy-modal"
  >
    <div class="p-grid">
      <h2>Impressum</h2>
      <h3>Medieninhaber und für den Inhalt verantwortlich</h3>
      <p>Torben Gallob<br />Goess Straße 16<br />9065 Ebenthal<br /><a href="tel:torben@projektvorschau.at">torben@projektvorschau.at</a></p>

      <h2>1. Datenschutz auf einen Blick</h2>

      <h3>Allgemeine Hinweise</h3>

      <p>Mit den folgenden Hinweisen möchten wir Ihnen einen einfachen Überblick darüber geben, was mit ihren personenbezogenen Daten geschieht, wenn Sie diese Web-App besuchen. Mit personenbezogenen Daten werden sämtliche Daten gemeint, mit denen Sie persönlich identifiziert werden können. In unserer Datenschutzerklärung finden Sie ausführliche Informationen zum Thema Datenschutz.</p>
      <h3>Wer ist verantwortlich für die Datenerfassung auf dieser Web-App?</h3>
      <p>Die Datenverarbeitung auf dieser Website erfolgt durch den Web-App-Betreiber, dessen Kontaktdaten Sie dem Impressum der Seite entnehmen können.</p>

      <h3>Wie werden Ihre Daten erfasst?</h3>
      <p>Einerseits werden Ihre Daten dadurch erhoben, dass Sie uns diese mitteilen, z.B. durch Eingabe in ein Kontaktformular. Andere Daten werden automatisch beim Besuch der Web-App durch unsere IT-Systeme erfasst. Hierbei handelt es sich vor allem um technische Daten, wie Informationen zum verwendeten Browser, zum Betriebssystem oder der Uhrzeit des Seitenaufrufs. Sobald Sie diese Web-App besuchen, erfolgt eine automatisierte Erfassung dieser Daten.</p>
      <h3>Wofür werden diese automatisch erfassten Daten genutzt?</h3>
      <p>Einen Teil Ihrer Daten verwenden wir, um eine fehlerfreie Bereitstellung unserer Web-App zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>
      <h3>Welche Rechte haben Sie bezüglich Ihrer Daten?</h3>
      <p>Sie haben jederzeit das Recht unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem das Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Hierzu können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Wenn Sie glauben, dass die Verarbeitung Ihrer Daten gegen das Datenschutzrecht verstößt oder Ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde.</p>
      <h3>SSL- bzw. TLS-Verschlüsselung</h3>
      <p>Unsere Seite verwendet aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie z.B. Ihre Bestellungen oder an uns gesendete Anfragen, eine SSL- bzw. TLS-Verschlüsselung. Sie erkennen die verschlüsselte Verbindung an der Adresszeile Ihres Browsers (“https://” bzw. Schlüssel- oder Schlosssymbol, je nach verwendetem Browser). Bei aktivierter SSL- bzw. TLS-Verschlüsselung können Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</p>
      <h3>Links</h3>
      <p>Diese Web-App enthält links zu anderen Websites, auf die wir keinen Einfluss haben. Wir können keine Verantwortung für den Datenschutz oder den Inhalt dieser Websites übernehmen.</p>
      <h2>2. Allgemeine Hinweise und Pflichtinformationen</h2><h3>Datenschutz</h3>
      <p>Der Schutz Ihrer persönlichen Daten ist uns ein besonderes Anliegen. Wir verarbeiten Ihre Daten daher ausschließlich auf Grundlage der gesetzlichen Bestimmungen (DSGVO, TKG 2003). In diesen Datenschutzinformationen informieren wir Sie über die wichtigsten Aspekte der Datenverarbeitung im Rahmen dieser Web-App.</p>

      <p>Bei einem Besuch diser Web-App werden personenbezogene Daten erhoben. Dies sind Daten, mit denen Sie persönlich identifiziert werden können. In unserer Datenschutzerklärung erläutern wir, welche Daten wir erheben und wofür wir sie nutzen.</p>

      <h3>Änderung unserer Datenschutzbestimmungen</h3>
      <p>Wir behalten uns gelegentliche Anpassungen dieser Datenschutzerklärung vor, um stets den aktuellen rechtlichen Anforderungen zu entsprechen, z.B. bei Einführung von neuen Services auf dieser Web-App. Für Ihren erneuten Besuch gilt dann die neue Datenschutzerklärung.</p><h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
      <p>Eine bereits erteilte Einwilligung in die Verarbeitung Ihrer Daten können Sie jederzeit widerrufen. Dazu reicht eine formlose E-Mail an torben@projektvorschau.at Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt. Im Falle datenschutzrechtlicher Verstöße steht dem Betroffenen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. In Österreich ist dies die Datenschutzbehörde.</p>
      <h3>Recht auf Datenübertragbarkeit</h3>
      <p>Daten, die wir auf Grundlage Ihrer ausdrücklichen Einwilligung oder in Erfüllung eines Vertrages automatisiert verarbeiten, werden auf Verlangen in einem gängigen, maschinenlesbaren Format an Sie oder an einen Dritten ausgehändigt. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
      <h3>Auskunft, Sperrung, Löschung</h3>
      <p>Laut den geltenden gesetzlichen Bestimmungen haben Sie jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft sowie Empfänger, den Zweck der Datenverarbeitung sowie gegebenenfalls das Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Für diese Auskunft oder sonstige Fragen können Sie sich jederzeit an torben@projektvorschau.at wenden.</p>
      <h3>Hinweis zur verantwortlichen Stelle</h3>
      <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>

      <p><br />
        Torben Gallob<br />
        Goess Straße 16<br />
        9065 Ebenthal<br />
        Österreich</p>

      <p>E-Mail: torben@projektvorschau.at</p>
      <h2>3. Datenerfassung in deser Web-App</h2><a name="cookies"></a>
      <h3>Cookies</h3>
      <p>Auf Internetseiten und bei Web Apps werden teilweise sogenannte Cookies verwendet. Dabei handelt es sich um kleine Textdateien, die über Ihren Browser gespeichert werden und die dazu dienen, die Angebote im Internet nutzerfreundlicher, effektiver und sicherer zu machen. Cookies richten auf Ihrem Rechner keinen Schaden an und enthalten keine Viren.Die meisten der von uns verwendeten Cookies sind so genannte “Session-Cookies”. Sie werden nach Ende Ihres Besuchs automatisch gelöscht. Andere Cookies bleiben auf Ihrem Endgerät gespeichert bis Sie diese löschen. Diese Cookies ermöglichen es uns, Ihren Browser beim nächsten Besuch wiederzuerkennen.</p>

      <p>Ihr Browser kann so konfiguriert werden, dass Sie über die Speicherung von Cookies vorher informiert werden, die Speicherung nur im Einzelfall erlaubt wird, die Annahme von Cookies generell oder nur in bestimmten Fällen erlaubt wird sowie dass Cookies nach Schließen des Browsers automatisch gelöscht werden. Diese Konfigurationsmöglichkeiten sind je nach dem verwendeten Browser unterschiedlich vorzunehmen und im Regelfall in der Hilfefunktion oder den Einstellungen einsehbar. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein.</p>

      <p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (z.B. Warenkorbfunktion) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert. Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Soweit andere Cookies (z.B. Cookies zur Analyse Ihres Surfverhaltens) gespeichert werden, werden diese in dieser Datenschutzerklärung gesondert behandelt.</p>

      <h3>Kontakt- und sonstige Formulare mit Übertragung personenbezogener Daten</h3>
      <p>Wir setzen auf dieser Web-App KEINE Formulare mit Übertragung personenbezogener Daten ein.</p>

      <h2>5. Plugins und Tools</h2>
      <h3>Karten und Routing</h3>

      <p>Diese Seite nutzt zur Anzeige von Karten und Routen die Web Services von Open Street Map (https://www.openstreetmap.org) wobei persönliche Daten wie z.B. die IP Adresse verarbeitet werden. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar. Es gelten die unter openstreetmap.org angeführt Bestimmungen zum Thema Datenschutz.</p>

      <p>Diese Seite nutzt zur Anzeige von Karten und Routen die Web Services von Open Cycle Map (https://thunderforest.com) wobei persönliche Daten wie z.B. die IP Adresse verarbeitet werden. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>

      <p>Diese Seite nutzt zur Berechnung von Geokoordinaten und optimierten Wegen die Web Services von Open Route Services (https://openrouteservice.org/) wobei persönliche Daten wie z.B. die IP Adresse verarbeitet werden. Dies stellt ein berechtigtes Interesse im Sinne von Art. 6 Abs. 1 lit. f DSGVO dar.</p>
    </div>
    <ng-template pTemplate="header">
      <h1>Impressum & Datenschutz</h1>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="closeDialog()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
 </p-dialog>
